.wrapper{
    .upgrade_to_premium{
        border: 2px solid #646fc1;
        background-color: white;
        color: black;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 8px;
    }
    .navigation_top{
        margin-top: 10px;
    }
}